 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                 Jiarou He (何佳柔) is a graphic designer based in Shanghai, China. She graduated from <a href="https://www.dhu.edu.cn/">Donghua University </a> 
                     and is currently working at <a href="https://m.pinduoduo.com/">Pinduoduo </a>.
                 </p>
                </div>
                <div class="col-lg-4">
                    <p>
                     This is an ongoing portfolio of my work. Feel free to reach out to me!
                 </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/cv/jiarou_cv.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> CV
                    </a>
                </div>
            </div>
        </div>
    </section>


<style>
a:link {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
</style> 
                        
                   
